env/
__pycache__/
.env
media/png_lists_without_tables/
media/png_lists/
media/png_lists_without_lines/
media/png_lists_by_color/
media/png_lists_croped/
media/png_lists_clear/
media/combined_pngs/
.vscode/
filtered_images/
png_lists_tile/